.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  /* 
  Se 16px está para 100% 14px está para 87.5%
        16 --> 100%
            X               14 * 100 / 16 == 87.5 
        14 --> x    
  */
  
  .wrapper {
    grid-template-columns: 1fr;
  }
}